    <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">なますて～</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= form_for @post do |f| %>
                        <div class="post-new">
                            <p><%= f.label :店名 %></p>
                            <p><%= f.text_field :title, :size => 50 %></p>
                            <p><%= f.label :image %></p>
                            <p><%= f.file_field :image %></p>
                            <%= f.select :price, [['~1000円', '~1000円,'], ['1000~1500円', '1000~1500円,'], ['1500円~', '1500円~,']], {include_blank: '値段'} %>
                            <%= f.select :spice, [['甘口', '甘口'], ['チョイ辛', 'チョイ辛'], ['中辛', '中辛'], ['辛口', '辛口'], ['激辛', '激辛']] , {include_blank: '辛さ'} %>
                            <%= f.select :curry, [['チキン系', 'チキン系'], ['キーマ系', 'キーマ系'], ['グリーン系', 'グリーン系'], ['豆系', '豆系'], ['マサラ系', 'マサラ系'], ['マトン系', 'マトン系']] , {include_blank: 'カレー'} %>
                            <%= f.select :nann, [['ノーマル', 'ノーマル'], ['チーズ', 'チーズ'], ['チャパティ', 'チャパティ'], ['その他', 'その他']] , {include_blank: 'ナン'} %>
                            <%= f.select :drink, [['自由無料', '自由無料'], ['一枚無料', '一枚無料'], ['有料', '有料']], {include_blank: 'ナンおかわり'} %>

                            <p><%= f.label :ひとこと %></p>
                            <p><%= f.text_field :contents, :size => 50 %></p>
                        </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= f.submit "登録する！" ,class:"btn btn-primary" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>

    
    <div class="post-show">
            <% if @post.title.blank? %>
                <p>店名：登録なし</p>
            <% else %>
                <p>店名：<%= @post.title %></p>
            <% end %>
            <!--カルーセルここから-->
                <div id="carouselExampleIndicators" class="carousel slide yokobou" data-ride="carousel" data-interval="999999" >
                <ol class="carousel-indicators yokobou">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active yokobou"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class=" yokobou"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class=" yokobou"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="img-img">
                        <% if @post.image.present? %>
                            <%= image_tag @post.image_url, size: '250x200'%>
                        <% else %>
                            <%= image_tag "nonono.png", size: '250x200' %>
                        <% end %>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-img">
                        <% if @post.nann == "ノーマル" %>
                            <%= image_tag "naan.jpg", size: '250x200' %>
                        <% elsif @post.nann == "チーズ" %>
                            <%= image_tag "cheese.jpg", size: '250x200' %>
                        <% elsif @post.nann == "チャパティ" %>
                            <%= image_tag "chapa.jpg", size: '250x200' %>
                        <% else %>
                            <%= image_tag "nodata.png", size: '250x200' %>
                        <% end %>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="karasa">
                            <% if @post.spice == "甘口" %>
                                <%= image_tag "11.png" , size: '250x100'%>
                            <% elsif @post.spice == "チョイ辛" %>
                                <%= image_tag "22.png", size: '250x100' %>
                            <% elsif @post.spice == "中辛" %>
                                <%= image_tag "33.png", size: '250x100' %>
                            <% elsif @post.spice == "辛口" %>
                                <%= image_tag "44.png", size: '250x100' %>
                            <% elsif @post.spice == "激辛" %>
                                <%= image_tag "55.png", size: '250x100' %>
                            <% else %>
                                <%= image_tag "nodata.png", size: '250x200' %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon yahidari" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon yamigi" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
            <!--ここまで-->
            <% if user_signed_in? %>
                <% if current_user.already_liked?(@post) %>
                    <%= link_to post_like_path(id: @post.id, post_id: @post.id), method: :delete do %>
                        <i class="fas fa-heart"></i><%= @post.likes.count %>
                    <% end %>
                <% else %>
                    <%= link_to post_likes_path(id: @post.id, post_id: @post.id), method: :post do %>
                        <i class="far fa-heart"></i><%= @post.likes.count %>
                    <% end %>
                <% end %>
            <% else %>
                <i class="far fa-heart"></i><%= @post.likes.count %>
            <% end %>
            <p>
                <%= @post.price %>
                <%= @post.curry %>
            </p>
            <p>
                <% if @post.drink.blank? %>
                    ナンおかわり：不明
                <% else %>
                    ナンおかわり：<%= @post.drink %>
                <% end %>
            </p>
            <p>ひとこと：<%= @post.contents %></p>
            <button type="button" data-toggle="modal" data-target="#exampleModalCenter">
                編集する
            </button>
        </div> 
    <div class="comment-wrapper">
        <% if user_signed_in? %>
            <%= form_with(model: [@post, @comment], local: true) do |f| %>
                <%= f.text_area :content %>
                <%= button_tag type: "submit" do %>
                    <i class="far fa-comments"></i> コメントする
                <% end %>
            <% end %>
        <% end %>
        <p>コメント一覧</p>
        <% @comments.each do |c| %>
            <div>
            <%= c.user.email unless c.user.blank? %>
            <br>
            <%= c.content %>
            </div>
            <br>
        <% end %>
    </div>

